

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
  text-decoration: none;
}



.body{
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40 px;
    background:#e5e5e5;
    font-family:"Montserrat",sans-serif;
    text-decoration: none;

}

.wrapper {
  display: flex;
  flex-direction:row-reverse;
  background:#FFFFFF;
  width: 1200px;
  margin: auto;    
}

.main-content{
    padding-left: 88px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 40px;
}

.about-me{
margin-bottom: 40px;  }

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 8px;
} 
  
  .my-summary {     
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 8px;
        
}

.sidebar { 
  background: #DFEEFF; 
  padding-top: 40px;
  padding: 40px;  
}     

.sidebar-content {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 80px;
}

.sidebar-title{

font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #161d2a;
margin-bottom: 8px;
}
.contacts-container{
  margin-bottom: 40px;
}

.contacts-item{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #2979ff;    
}

.skills-container{
margin-bottom: 40px;
}
    
.skills-item {
   font-style: normal;  
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #161d2a;
    list-style: disc;
}

.skills-plist{
  padding-left: 16px;
}
.my-profession{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 8px;
}
.main-content-title{
 margin-bottom: 8px;
 font-style: normal;
 font-weight: 700;
 font-size: 22px;
 line-height: 27px;
 color: #000000;
}
.projects-container{
  margin-bottom: 44px;
}
.projects-item 
{ font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  list-style: decimal;
}
.projects-link{
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   text-decoration-line: underline ;
   color: #2979ff;
}

.projects-tech{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.projects-list{
padding-left: 20px;
}

.company-position{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}
.company-position-accent{
  color: #6096ff;
}

.company-period{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.company-duties-item{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style: disc; 
}

.company-duties-list{
  padding-left: 25px;
}

.company-container{
  margin-bottom: 8px;
}

.work-experience-container{

margin-bottom: 40px‹;

         }